backports.entry-points-selectable==1.1.0
cycler==0.11.0
dependency==0.0.3
distlib==0.3.3
filelock==3.3.0
fonttools==4.29.1
kiwisolver==1.3.2
matplotlib==3.5.1
numpy==1.21.2
packaging==21.3
Pillow==9.0.1
platformdirs==2.4.0
pyparsing==3.0.7
python-dateutil==2.8.2
six==1.16.0
virtualenv==20.8.1
